<% if !@game.nil? && !@game.innings.nil? then %>
<% @total_team_score = 0%>
<% @game.innings.each_with_index do |inning, i| %>
<% @total_inning_score = 0%>
<h4><%= (i + 1).ordinalize %> Inning</h4>
<% if @squad_players.count > 0 then %>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Batted?</th>
    <th>Runs</th>
    <th>Minutes</th>
    <th>Balls</th>
    <th>4s</th>
    <th>6s</th>
    <th>Not Out</th>
    <th>Bowled?</th>
    <th>Overs</th>
    <th>Maidens</th>
    <th>Runs Against</th>
    <th>Wickets</th>
    <th>Extras</th>
    <th>Catches</th>
    <th>Stumpings</th>
    <th>Run Outs</th>  
    <th>Innings Score</th>  
  </tr>
  <% @squad_players.each do |p| %>     
  <% stat = @stats[inning.id][p.player.id] %>
  <% inning_score = stat.inning_score(@team_id) %>
  <% @total_inning_score = @total_inning_score.to_f + inning_score.to_f %>
  <% @total_team_score = @total_team_score.to_f + inning_score.to_f%>    
      <tr>
      	<td><%= p.player.name %></td>
      	<td><%= (stat.balls > 0 ? "Yes" : "No") %></td>
      	<td><%= stat.runs %></td>
      	<td><%= stat.minutes %></td>
      	<td><%= stat.balls %></td>
      	<td><%= stat.fours %></td>
      	<td><%= stat.sixes %></td>
      	<td><%= (stat.run_out == 1 || !stat.bowled_by.nil? || !stat.caught_by.nil? ? "Yes" : "No") %></td>
      	<td><%= (stat.overs > 0 ? "Yes" : "No") %></td>
      	<td><%= stat.overs %></td>
      	<td><%= stat.maidens %></td>
      	<td><%= stat.runs_against %></td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
        <td><%= inning_score %></td>

      </tr>
    
  <% end %>

  </table>

     <div class="row">
       <div class="col-sm-2">
        <h5 id ="total_score1">Innings Total</h5>
       </div>
       <div class="col-sm-10">
        <h5 id ="total_score2"><%= @total_inning_score%></h5>
       </div>
     </div>

     <div class="row">
       <div class="col-sm-2">
        <h5 id ="total_score1">Team Total</h5>
       </div>
       <div class="col-sm-10">
        <h5 id ="total_score2"><%= @total_team_score%></h5>
       </div>
     </div>




  <div class="pull-right">
    <%= f.submit "Save Squad", {class: "btn btn-primary btn-xs", :data => { :remote => true, params: {team_id: 0}} } %>
  </div>
<% end %>
<% end %>
<% end %>


