<% if !@game.nil? && !@game.innings.nil? then %>
<% @game.innings.each_with_index do |inning, i| %>
<h4><%= (i + 1).ordinalize %> Inning</h4>
<% if @squad_players.count > 0 then %>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Batted?</th>
    <th>Runs</th>
    <th>Minutes</th>
    <th>Balls</th>
    <th>4s</th>
    <th>6s</th>
    <th>Not Out</th>
    <th>Bowled?</th>
    <th>Overs</th>
    <th>Maidens</th>
    <th>Runs Against</th>
    <th>Wickets</th>
    <th>Extras</th>
    <th>Catches</th>
    <th>Stumpings</th>
    <th>Run Outs</th>  
    <th>Innings Score</th>  
  </tr>
  <% @squad_players.each do |p| %>     
  <% stat = @stats[inning.id][p.player.id] %>    
      <tr>
      	<td><%= p.player.name %></td>
      	<td><%= (stat.balls > 0 ? "Yes" : "No") %></td>
      	<td><%= stat.runs %></td>
      	<td><%= stat.minutes %></td>
      	<td><%= stat.balls %></td>
      	<td><%= stat.fours %></td>
      	<td><%= stat.sixes %></td>
      	<td><%= (stat.run_out == 1 || !stat.bowled_by.nil? || !stat.caught_by.nil? ? "Yes" : "No") %></td>
      	<td><%= (stat.overs > 0 ? "Yes" : "No") %></td>
      	<td><%= stat.overs %></td>
      	<td><%= stat.maidens %></td>
      	<td><%= stat.runs_against %></td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
        <td><%= stat.inning_score %></td>

      </tr>
    
  <% end %>
  </table>
  <div class="pull-right">
    <%= f.submit "Save Squad", {class: "btn btn-primary btn-xs", :data => { :remote => true, params: {team_id: 0}} } %>
  </div>
<% end %>
<% end %>
<% end %>
