<%= form_for(@user, :url=> manage_usr(params[:action]), remote: true, html: {class: :user_form, class: "form-horizontal", style: "display:inline;" }) do |f| %>
<div class="modal-body">
  <ul class="errors"></ul>
  <div class="form-group">
    <%= f.label :email, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :email, class: 'form-control', :required => true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.password_field :password, class: 'form-control', :required => true, autocomplete: "off" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.password_field :password_confirmation, class: 'form-control', :required => true, autocomplete: "off" %>
    </div>
  </div>

  <%= f.fields_for :profile do |p| %>
    <div class="form-group">
      <%= p.label :firstname, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= p.text_field :firstname, class: 'form-control', :required => true %>
      </div>
    </div>

    <div class="form-group">
      <%= p.label :lastname, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= p.text_field :lastname, class: 'form-control', :required => true %>
      </div>
    </div>

    <div class="form-group">
      <%= p.label :screenname, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= p.text_field :screenname, class: 'form-control', :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= p.label :country_id, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= p.select :country_id, options_for_select(Country.pluck(:name, :id),:selected => p.object.country_id), {prompt: true,}, {:class => 'form-control'} %>
      </div>
    </div>
    <div class="form-group">
      <%= p.label :phone_number, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= p.text_field :phone_number, class: 'form-control', :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= p.label :address, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= p.text_field :address, class: 'form-control', :required => true %>
      </div>
    </div>
  <% end %>

  <div class="modal-footer">
    <%= f.submit "Save User", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
</div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
