<div class="modal-header">
<h3>New Player</h3>
</div>


<%= form_for :player, :url=>save_quick_add_player_path(:type=>@type,:squad_id=>@squad_id),remote: true, html: {class: :player_form, class: "form-horizontal", style: "display:inline;" } do |f| %>
  <div class="modal-body">
  <ul class="errors"></ul>

  <div class="form-group">
    <%= f.label :name, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  </div>
  <div class="form-group">
    <%= f.label :country_id, class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= f.select :country_id ,{},{},class: 'form-control'%>  
  </div>
  </div>
  <div class="form-group">`
    <%= f.label :batting_style, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <%= f.select :batting_style, options_for_select(Player.batting_styles.map {|k, v| [k.titleize, k]}, @player.batting_style), {prompt: true}, {:class => 'form-control'} %>
  </div>
  </div>
  <div class="form-group">
    <%= f.label :bowling_style, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <%= f.text_field :bowling_style, class: 'form-control' %>
  </div>
  </div>
  
  <div class="form-group">
    <%= f.label :date_of_birth, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <div class="input-group date" id="match-date">
          
            <%= f.text_field :dob, class: "form-control", :value=>change_player_date(@player) %>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>  
    </div>
  </div>

  <div class="form-group">
    <%= f.label :role, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <%= f.text_field :role, :class => 'form-control',:value=>"" %>
  </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Player", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
  </div>
<% end %>
<script>
  $('#player_dob').datepicker({
    todayHighlight : true,
    autoclose : true,
    orientation : 'top left'
  });

  $( document ).ready(function() {  
    <%if (@type == "1")%>
     var x = $('#game_squad_1_id :selected').text();
     var y = $('#game_squad_1_id :selected').val();

    <%elsif (@type == "2")%> 
     var x = $('#game_squad_2_id :selected').text();
     var y = $('#game_squad_2_id :selected').val();    
    <%end%>

      html = '<option value=' + y + '>' + x + '</option>';
      $('#player_country_id').html(html);
      
   });

</script>
