<div class="modal-header">
<h3>New Series</h3>
</div>
<%= form_tag(save_quick_add_series_path ,remote: true,:class=> "form-horizontal", :style=> "display:inline;")   do %>
  <div class="modal-body">
  <ul class="errors"></ul>

    <div class="form-group">
      <%= label_tag "name", nil,:class=> "col-md-4 control-label" %>
    <div class="col-md-8">
	    <%= text_field_tag "name", nil,:class=> 'form-control' %>
    </div>
    </div>

    <div class="form-group">
        <%= label_tag("Select Host Countries", nil,:class=> "col-md-4 control-label" )%>
        <div class="col-md-8">
            <%= select_tag(:country_ids, options_for_select(Country.all.collect {|x| [x.name, x.id]}),{:style=>'width:100%;',:class=>'select2-element',:multiple=>true}) %>
        </div>
    </div>
  </div>

  <div class="modal-footer">
    <%= submit_tag "Add Country", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>

<% end %>

<script>
    $('.select2-element').select2();
</script>
