<div class="modal-header">
<h3>New Player</h3>
</div>


<%= form_for :player, :url=>"/save_quick_add_player",remote: true, html: {class: :player_form, class: "form-horizontal", style: "display:inline;" } do |f| %>
  <div class="modal-body">
  <ul class="errors"></ul>

  <div class="form-group">
    <%= f.label :name, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  </div>
  <div class="form-group">
    <%= f.label :country_id, class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <select class = "form-control">
        <option id = "player_country_id" value=""></option>
        <%= f.hidden_field :country_id ,:value => ""%>
        <%= hidden_field_tag(:code_id,:value)%>
    </select>  
  </div>
  </div>
  <div class="form-group">
    <%= f.label :batting_style, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <%= f.select :batting_style, options_for_select(Player.batting_styles.map {|k, v| [k.titleize, k]}, @player.batting_style), {prompt: true}, {:class => 'form-control'} %>
  </div>
  </div>
  <div class="form-group">
    <%= f.label :bowling_style, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <%= f.text_field :bowling_style, class: 'form-control' %>
  </div>
  </div>
  
  <div class="form-group">
    <%= f.label :date_of_birth, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <div class="input-group date" id="match-date">
          
            <%= f.text_field :dob, class: "form-control", :data => { :date_format => "dd/mm/yyyy" } %>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>  
    </div>
  </div>


  <div class="form-group">
    <%= f.label :role, class: "col-md-3 control-label" %>
    <div class="col-md-9">
   <%= f.select :role, options_for_select(Player.roles.map {|k, v| [k.titleize, k]}, @player.role), {prompt: true}, {:class => 'form-control'} %>
  </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Player", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
  </div>
<% end %>
<script>
  $('#player_dob').datepicker({
    todayHighlight : true,
    autoclose : true,
    orientation : 'top left'
  });

  $( document ).ready(function() {  
     var x = $('#game_squad_1_id :selected').text();
     var y = $('#game_squad_1_id :selected').val();
     <%if (@type == "1")%>
      html = '<option value=' + y + '>' + x + '</option>';
      $('#player_country_id').html(html);
      
     <%else%>
     alert("2");
     <%end%>

   });

</script>
