<div id="game-result" class="panel panel-default scoring-panel">
	<div class="panel-body">
	<h4><%= if !team_id.nil? then @countries.assoc(team_id).second end %> <%= (index + 1).to_i.ordinalize if @game.code_id == 1 %> Innings</h4>
		<% if @game_players.count > 0 then %>

            <%@inning = inning%>

            <%stats = inning.get_stats%>
            <%stats_current = stats_current_sorted(stats,team_id)%>
            <%stats_opponent = stats_opponent_sorted(stats,team_id)%>
			<h5>Batting</h5>
			<table class="table table-striped table-bordered table-wrapper">
				<tr>
					<th>Name</th>
					<th></th>
					<th>R</th>
					<th>M</th>
					<th>B</th>
					<th>4s</th>
					<th>6s</th>
					<th>SR</th>
				</tr>
				<% stats_current.each do |s| %>
				<tr>
                    <td><%= link_to s.player.name, profile_player_path(s.player)%></td>
					<td><%= s.out_decription(@game.id)%></td>
					<td><%= s.runs%></td>
					<td><%= s.minutes%></td>
					<td><%= s.balls%></td>
					<td><%= s.fours%></td>
					<td><%= s.sixes%></td>
					<td><%= calculate_stricke_rate(s)%></td>	
				</tr>
				<% end %>
                <tr>
                    <td><b>Extras</b></td>
                    <td colspan="7"><b>(<%=get_extras(stats_opponent,stats_current, inning, squad_temp)%>)</b></td>
                </tr>
                <tr>
                    <td><b>Score</b></td>
                    <td colspan="7"><b><%=get_score(stats_current,stats_opponent, inning, squad_temp)%></b></td>
                </tr>
			</table>
            <b>Did not bat (</b><%=didnot_bat_players(stats,team_id)%><b>)</b><br/>
            <b>Fall of wickets</b> <%=fall_of_wickets(stats_current)%>
			<h5>Bowling</h5>
			<table class="table table-striped">
				<tr>
				    <th>Name</th>
				    <th>O</th>
				    <th>M</th>
				    <th>R</th>
				    <th>W</th>
				    <th>Econ</th>
				    <th>0s</th>
				    <th>4s</th>
				    <th>6s</th>
				    <th></th>
				</tr>

				<% stats_opponent.each do |s| %>
				<tr>
				<td><%= link_to s.player.name, profile_player_path(s.player)%></td>
				<td><%= s.overs%></td>
				<td><%= s.maidens%></td>
				<td><%= s.runs_against%></td>
				<td><%= s.wickets%></td>
				<td><%= '%.2f' % calculate_economy_rate(s)%></td>
				<td><%= s.zeroes_against%></td>
				<td><%= s.fours_against%></td>
				<td><%= s.sixes_against%></td>
				<td><%= get_player_extra(s)%></td>
				</tr>
				<% end %>
			</table>
		<% end %>
</div>
</div>




