
<div class="panel panel-default">
	<div class="panel-body">
		<h4><%= if !team_id.nil? then @countries.assoc(team_id).second end %> <%= (index + 1).to_i.ordinalize %> Innings: <%= inning.id %></h4>
		<% if @game_players.count > 0 then %>

            <%@inning = inning%>

            <%stats = inning.get_stats%>
            <%stats_current = stats.reject{ |sp| sp.player.country_id != team_id}%>
            <%stats_opponent = stats.reject{ |sp| sp.player.country_id == team_id}%>

			<h5>Batting</h5>
			<table class="table table-striped table-bordered">
				<tr>
					<th>Name</th>
					<th>Batting Order</th>
					<th>Runs</th>
					<th>Minutes</th>
					<th>Balls</th>
					<th>4s</th>
					<th>6s</th>
					<th>SR</th> 
					<th>Bowled By</th>
					<th>Caught By</th>
					<th>Stumped By</th>
					<th>Run Out By</th>
					<th>Fow Order</th>
					<th>Fow Score</th>
					<th>Fow Overs</th>
					<th>Fow Balls</th>
 

				</tr>
				<% stats_current.each do |p| %>
				<%= f.fields_for :stats, p do |s| %>
				<tr>
					<td><%= p.player.name %></td>
					<td><%= s.text_field :batting_order, :size => 2%></td>
					<td><%= s.text_field :runs, :size => 3 %></td>
					<td><%= s.text_field :minutes, :size => 3 %></td>
					<td><%= s.text_field :balls, :size => 3 %></td>
					<td><%= s.text_field :fours, :size => 3 %></td>
					<td><%= s.text_field :sixes, :size => 3 %></td>
					<td class='strike-rate'>&nbsp;</td>
					<td><%= s.select :bowled_by,stats_opponent.collect{|s| [s.player.name,s.player.id]},:class => "form-control"%></td>
					<td></td>
					<td></td>
					<td></td>
					<td><%= s.text_field :fow_order,:size => 3%></td>
					<td><%= s.text_field :fow_score, :size => 3%></td>
					<td><%= s.text_field :fow_overs, :size => 3%></td>
					<td><%= s.text_field :fow_balls, :size => 3%></td>
	
				</tr>
				<% end %>
				<% end %>
	
			</table>

			<h5>Bowling</h5>
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>bowling Order</th>
					<th>Overs</th>
					<th>M</th>
					<th>R</th>
					<th>Wi</th>
					<th>Econ</th>
					<th>0s</th>
					<th>4s</th>
					<th>6s</th>
					<th>NB</th>
					<th>W</th>
				</tr>
				<% stats_opponent.each do |p| %>
				<%= f.fields_for :stats, p do |s| %>
				<tr>
					<td><%= p.player.name %></td>
					<td><%= s.text_field :bowling_order, :size => 2 %></td>
					<td><%= s.text_field :overs, :size => 3 %></td>
					<td><%= s.text_field :maidens, :size => 3 %></td>
					<td><%= s.text_field :runs_against, :size => 3 %></td>
					<td><%= s.text_field :wickets, :size => 3 %></td>
					<td>&nbsp;</td>
					<td><%= s.text_field :zeroes_against, :size => 3 %></td>
					<td><%= s.text_field :fours_against, :size => 3 %></td>
					<td><%= s.text_field :sixes_against, :size => 3 %></td>
					<td><%= s.text_field :no_balls, :size => 3 %></td>
					<td><%= s.text_field :wides, :size => 3 %></td>
				</tr>
				<% end %>
				<% end %>
			</table>
		<% end %>
	</div>

</div>




