<% if @squad_players.count > 0 then %>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Batting Style</th>
    <th>Bowling Style</th>
    <th>Role</th>
    <th>Selected</th>
    <th>Capt.</th>
    <th>WC</th>
    
  </tr>
  <% @squad_players.each do |p| %>     
    <% @team_player = @team.team_players.build %>    
    <%= f.fields_for :team_players, @team_player do |gsp| %>
    
      <tr>
      	<td><%= p.player.name %></td>
      	<td><%= p.player.country.name %></td>
      	<td><%= p.player.batting_style.titleize %></td>
      	<td><%= p.player.bowling_style %></td>
      	<td><%= p.player.role.titleize %><%= gsp.hidden_field :player_id, value: p.player_id %></td>
      	
      	<td><%= gsp.check_box :selected,:class=>"cb_selected" %></td>
      	<td><%= gsp.check_box :captain,:class=>"cb_captain" %></td>
      	<td><%= gsp.check_box :wicket_keeper,:class=>"cb_keeper" %></td>
      	
      		    
      </tr>
    <% end %>
  <% end %>
  </table>
  <div class="pull-right">
    <%= f.submit "Save Squad", {id: "save_squad",class: "btn btn-primary btn-xs", :data => { :remote => true, params: {team_id: 0}} } %>
  </div>
<% end %>






<script>
 $(document).ready(function(){

  
   $('#save_squad').click(function(e){
    e.preventDefault();
    if ($.fn.myFunction())
    {
      $('.team_form').submit();
    }
  });

    $.fn.myFunction = function(){
      var msg1 = "";
      var msg2 = "";
      var msg3 = "";
     
    if ($('.cb_selected:checked').length < 11){
       msg1 = "Please Select Atleast 11 players";
    }
    if (($('.cb_selected:checked').length > 11)){
       msg1 = "Only 11 players Are Allowed";
    }

    if ($('.cb_captain:checked').length < 1){
       msg2 = "Please Select A Captain";
    }
    if ($('.cb_captain:checked').length > 1){
       msg2 = "Only One Captain Is Allowed";
    }

    if ($('.cb_keeper:checked').length < 1){
       msg3 = "Please Select A Wicket Keeper";
    }
    if ($('.cb_keeper:checked').length > 1){
       msg3 = "Only One Wicket Keeper Is Allowed";
    }
    $('#li1').html(msg1);
    $('#li2').html(msg2);
    $('#li3').html(msg3);

    if(msg1=="" && msg2=="" && msg3=="")
      {return true}
   
    }
});
</script>






