<%= form_for(@umpire, remote: true, html: {class: :umpire_form, class: "form-horizontal", style: "display:inline;" }) do |f| %>
  <div class="modal-body">
  <ul class="errors"></ul>

  <div class="form-group">
    <%= f.label :name, class: "col-md-3 control-label" %>
    <div class="col-md-9">
	  <%= f.text_field :name, class: 'form-control' %>
	</div>
  </div>

  <div class="form-group">
    <%= f.label :full_name, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <%= f.text_field :full_name, class: 'form-control' %>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :scorecard_name, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <%= f.text_field :scorecard_name, class: 'form-control' %>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :dob, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <%= f.text_field :dob, class: 'form-control' ,id: 'umpire_dob_date',value: f.object.dob.try{strftime('%d/%m/%Y')}%>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :date_died, class: "col-md-3 control-label" %>
    <div class="col-md-9">
    <%= f.text_field :date_died, class: 'form-control' ,id: "umpire_died_date",value: f.object.date_died.try{strftime('%d/%m/%Y')}%>
  </div>
  </div>



  <div class="form-group">
    <%= f.label :country, class: "col-md-3 control-label" %>
    <div class="col-md-9">
	  <%= f.select :country_id, options_for_select(Country.all.map{|c| [c.name, c.id]},:selected=>f.object.country_id), { prompt: true }, { class: 'form-control' }%>
	</div>
  </div>

  <div class="modal-footer">
    <%= f.submit "Save Umpire", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
  </div>
<% end %>


<script>

  $('#umpire_dob_date').datetimepicker({
    timepicker:false,
    format:'d/m/Y'
  });
 $('#umpire_died_date').datetimepicker({
    timepicker:false,
    format:'d/m/Y'
  });



</script>