<div class="container">
  <h2><%= @player.name%></h2>
  <h4><%= @player.country.name rescue 'Not Available' %></h4>
  <div class='horizontal-ruler col-md-12'></div>
  <div class="col-md-6">
	  <table class="table">
	    <tbody>
	      <tr>
	        <td>Full Name</td>
	        <td>:</td>
	        <td><%= @player.full_name rescue 'Not Available'%></td>
	      </tr>
          <tr>
            <td>Scorecard Name</td>
            <td>:</td>
            <td><%= @player.scorecard_name rescue 'Not Available'%></td>
          </tr>
	      <tr>
	        <td>Date of Birth</td>
	        <td>:</td>
	        <td><%= @player.dob.to_date.strftime("%d/%m/%Y") rescue 'Not Available'%></td>
	      </tr>
	      <tr>
	        <td>Playing Role</td>
	        <td>:</td>
	        <td><%= @player.role rescue 'Not Available' %></td>
	      </tr>
	      <tr>
	        <td>Batting Style</td>
	        <td>:</td>
	        <td><%= @player.batting_style rescue 'Not Available'%></td>
	      </tr>
	      <tr>
	        <td>Bowling Style</td>
	        <td>:</td>
	        <td><%= @player.bowling_style rescue 'Not Available' %></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
    <div class="col-md-6 text-center" style="padding-top: 10px;">
      <%= image_tag @player.image_url(:medium) %>
    </div>
    <div class='horizontal-ruler col-md-12'></div>
    <div style="clear:both;"></div>
    <h4>Stats</h4>
    <div class='horizontal-ruler col-md-12'></div>
    <div class="col-md-6">
      <table class="table">
        <tbody>

        </tbody>
      </table>
    </div>
	<div class='horizontal-ruler col-md-12'></div>
	<div class='col-md-12 text-right'>
		<%= link_to 'Back to list', players_path %>
	</div>
</div>