<h3>View Player - <%= @player.name %></h3>



<div class="col-md-12">
	<div class="panel panel-inverse" data-sortable-id="ui-widget-1">
		<div class="panel-heading">
			<h4 class="panel-title">Main Details</h4>
		</div>
		<div class="panel-body">

			<p>
				<strong>Name:</strong>
				<%= @player.name %>
			</p>
			
			<p>
				<strong>Country:</strong>
				<%= @player.country.name %>
			</p>
			
			<p>
				<strong>Batting style:</strong>
				<%= @player.batting_style %>
			</p>
			
			<p>
				<strong>Bowling style:</strong>
				<%= @player.bowling_style %>
			</p>
			
			<p>
				<strong>Role:</strong>
				<%= @player.role %>
			</p>
            <p>
                <strong>Image:</strong>
                <%= image_tag @player.image_url(:medium) %>
            </p>
			
			<%= link_to 'Edit', edit_player_path(@player) %> |
			<%= link_to 'Back', players_path %>
			
		</div>
	</div>
</div>