<h3>View Squad - <%= @squad.name %></h3>



<div class="col-md-12">
	<div class="panel panel-inverse" data-sortable-id="ui-widget-1">
		<div class="panel-heading">
			<h4 class="panel-title">Main Details</h4>
		</div>
		<div class="panel-body">

						<p>
			  <strong>Name:</strong>
			  <%= @squad.name %>
			</p>
			
						<p>
			  <strong>Country:</strong>
			  <%= @squad.country %>
			</p>
			
						<%= link_to 'Edit', edit_squad_path(@squad) %> |
			<%= link_to 'Back', squads_path %>
		
		</div>
	</div>
</div>