<%= form_for(@series, remote: true, html: {class: :country_form, class: "form-horizontal", style: "display:inline;" }) do |f| %>
  <div class="modal-body">
  <ul class="errors"></ul>

  <div class="form-group">
    <%= f.label :name, class: "col-md-3 control-label" %>
    <div class="col-md-9">
	  <%= f.text_field :name, class: 'form-control' %>
	</div>
  </div>
  <div class="form-group">
    <%= label_tag("Select Host Countries", nil,:class=> "col-md-3 control-label" )%>
    <div class="col-md-9">
      <%= f.select(:country_ids,Country.all.collect {|x| [x.name, x.id]},{:selected=>get_selected_countries(f.object)},{:style=>'width:100%;',:class=>'select2-element',:multiple=>true})%>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Series", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
  </div>
<% end %>

<script>
    $('.select2-element').select2();
</script>
